.about {
  width: 50%;
  top: -12px;
  margin-left: 50px;
}

.about .inner-container {

  width: 120%;
  border: 2px;
  border-style: solid;
  border-color: brown;
 
}

.about h2 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: brown;
  padding: 10px;
  font-style: italic;
}

.about h2 {
  margin: 10px;
  font-style: italic;
  font-size: x-medium;
  text-align: justify;
}
