.about {
  width: 50%;
  top: -12px;
  margin-left: 50px;
}

.about .inner-container {
  background-color: #ffddb0;
  width: 120%;
  border: 2px;
  border-style: solid;
  border-color: brown;
  border-radius: 30px;
}

.about h1 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: brown;
  padding: 10px;
  font-style: italic;
}

.about p {
  margin: 10px;
  font-style: italic;
  font-size: x-medium;
  text-align: justify;
}
