.contact {
  position: relative;
}

.contactWrapper {
  display: flex;
  width: 60%;
  margin: 20px auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.contact form,
.contact .contactDetails {
  width: 50%;
  height: 400px;
  background-color: white;
}

.contact form {
  background-color: var(--primary0);
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.contact form p {
  padding-bottom: 20px;
  text-align: center;
}

.contact form input,
.contact form button {
  width: 85%;
  padding: 15px;
  margin: 10px auto;
  border: none;
  outline: none;
}
@keyframes extend {
  0% {
    width: 85%;

    border-radius: 100px;
  }
  10% {
    width: 86%;
    height: 41px;
    background: #fff;
    margin-top: -5px;
  }
  20% {
    width: 50%;
    height: 40px;
    background: #6fb07f;
    margin-top: 0px;
  }
  100% {
    width: 30%;
    height: 40px;
    border-radius: 100px;
    background: #6fb07f;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  20% {
    color: #fff;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact form button img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  display: none;
}

.contact form button:focus {
  animation: extend 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.contact form button:focus > span {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  display: none;
}

.contact form button:focus > img {
  animation: appear 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  display: flex;
  margin-top: -15px;
}
