.contact {
  position: relative;
}

.contactWrapper {
  display: flex;
  width: 60%;
  margin: 20px auto;
  /* position: absolute; */
  top: 40%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.contact form,
.contact .contactDetails {
  width: 50%;
  height: 600px;
  background-color: white;
  padding: 30px;
}

.contact .contactDetails h1 {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  /* padding-bottom: 50px; */
  width: fit-content;
  margin: auto;
  position: relative;
}
.contact .contactDetails h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 110%;
  border-bottom: 2px solid var(--primary);
}

.contact .contactDetails .contactContent {
  width: 100%;
  height: 50%;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact form {
  background-color: var(--primary0);
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.contact form p {
  padding-bottom: 20px;
  text-align: center;
}

.contact form input,
.contact form button {
  width: 85%;
  padding: 15px;
  margin: 10px auto;
  border: none;
  outline: none;
}

.contact form textarea {
  width: 85%;
  padding: 15px;
  margin: 10px auto;
  border: none;
  outline: none;
  resize: none;
}

.cRow {
  display: grid;
  grid-template-columns: 1fr 9fr;
  padding-bottom: 10px;
}

.contact > p {
  width: 70%;
  margin: 10vh auto;
  text-align: center;
  font-size: 1.1rem;
  font-style: italic;
}

@media screen and (max-width: 1170px) {
  .contactWrapper {
    flex-direction: column;
    width: 50%;
  }
  .contact form,
  .contact .contactDetails {
    width: 100%;
  }

  .contact .contactDetails {
    height: 400px;
  }
  .contact .contactDetails .contactContent {
    width: fit-content;
    margin: auto;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 90px;
  }
  .contact form input,
  .contact form button,
  .contact form textarea {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .contactWrapper {
    width: 80%;
  }
  .cRow p {
    font-size: 0.8rem;
    padding-left: 10px;
  }
}
