@import "./home.css";
@import "./company-profile.css";
@import "./products.css";
@import "./contact.css";

:root {
  --black: #121212;
  --white: #ffffff;
  --primary0: #ffddb0;
  --primary: #c57000;
  --primary2: #fff5e9;
  --gray: #808080;
  --lightgray: #b4b4b4;
  --link: rgb(255, 0, 0);

  --navbarHeight: 150px;
  --footerHeight: 20vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--black);
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

header {
  height: var(--navbarHeight);
  position: relative;
  display: flex;
  align-items: center;
  gap: 10%;
  padding: 0 10%;
  user-select: none;
}
.contactContainer {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateX(-50%) translateY(calc(-50% - 20px));
  display: flex;
}

.contactContainer > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 10px;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  list-style: none;
  transform: translateY(-20px);
}

header ul a {
  text-decoration: none;
}

.logo img {
  width: 150px;
}

/* ----------- */
/* ----------- */
/* ----------- */
/* ----------- */
/* ----------- */
/* ----------- */
/* ----------- */

footer {
  height: var(--footerHeight);
  background-color: black;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#root {
  width: 100%;
}

section {
  width: 100%;
  min-height: calc(100vh - var(--footerHeight) - var(--navbarHeight));
  position: relative;
}

/* ------------------------------------------------------------------- */

.defaultLink {
  padding: 10px 25px;
  background-color: var(--primary);
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: box-shadow 200ms ease-in-out;
}

.defaultLink2 {
  padding: 10px 25px;
  background-color: var(--white);
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid var(--gray);
  color: var(--black);
  transition: box-shadow 200ms ease-in-out;
}

.defaultLink:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.defaultLink2:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.link1 {
  text-decoration: none;
  color: var(--link);
}

.bgLayer {
  width: 50%;
  height: 120vh;
  position: fixed;
  background-color: var(--primary0);
  clip-path: ellipse(75% 100% at 99% 86%);
  transform: translateX(5%);
  right: 0;
}

/* ------------------------------------------------------------------- */
