@import "./home.css";

:root {
  --black: #121212;
  --white: #ffffff;
  --primary: #ffe8ca;
  --primary2: #925a11;
  --gray: #8b8b8b;

  --navbarHeight: 150px;
  --footerHeight: 20vh;
}

.defaultLink {
  padding: 10px 25px;
  background-color: var(--primary);
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: box-shadow 200ms ease-in-out;
}

.defaultLink2 {
  padding: 10px 25px;
  background-color: var(--white);
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid var(--gray);
  color: var(--black);
  transition: box-shadow 200ms ease-in-out;
}

.defaultLink:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.defaultLink2:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--black);
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

header {
  height: var(--navbarHeight);
  position: relative;
  display: flex;
  align-items: center;
  gap: 10%;
  padding: 0 10%;
  user-select: none;
}
.contactContainer {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateX(-50%) translateY(calc(-50% - 20px));
  display: flex;
}

.contactContainer > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 10px;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  list-style: none;
  transform: translateY(-20px);
}

header ul a {
  text-decoration: none;
}

.logo img {
  width: 150px;
}

/* ----------- */
/* ----------- */
/* ----------- */
/* ----------- */
/* ----------- */
/* ----------- */
/* ----------- */

footer {
  height: var(--footerHeight);
  background-color: black;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
}

section {
  width: 100%;
  min-height: calc(100vh - var(--footerHeight) - var(--navbarHeight));
}
