@import "./home.css";
@import "./company-profile.css";
@import "./products.css";
@import "./contact.css";

:root {
  --black: #121212;
  --white: #ffffff;
  --primary0: #ffddb0;
  --primary: #c57000;
  --primary2: #fff5e9;
  --primary3: #915200;
  --gray: #808080;
  --lightgray: #b4b4b4;
  --link: rgb(255, 0, 0);

  --bg: #fdfdfd;
  --highlight1: #ed4264;
  --highlight2: #ffedbc;
  --color: #1a1e24;

  --navbarHeight: 150px;
  --footerHeight: 20vh;

  --productWidth: 680px;
  --productHeight: 380px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--black);
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

header {
  height: var(--navbarHeight);
  position: relative;
  display: flex;
  align-items: center;
  gap: 3%;
  padding: 0 10%;
  user-select: none;
}
.navSideBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  display: none;
  transform: translateY(-100%);
  opacity: 0;
  transition: 300ms ease-in-out;
}

.navSideBar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.navSideBar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  transition: font-size 200ms ease-in-out;
}

.navSideBar ul li:hover a {
  font-size: 2.4rem;
}
.contactContainer {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(-50%) translateY(calc(-50% - 10px));
  display: flex;
}

.contactContainer > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 10px;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
  transform: translateY(-10px);
}

header ul a {
  text-decoration: none;
  font-size: 1rem;
  /* font-size: 1.4rem; */
  position: relative;
  padding-bottom: 8px;
}

header ul a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 10%;
  border-bottom: 2px solid var(--primary);
  transition: width 300ms ease-in-out;
}
header ul li:hover a::after {
  width: 80%;
}

header ul .selectedNav::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: 10%;
  border-bottom: 2px solid var(--primary);
  transition: width 300ms ease-in-out;
}

.logo img {
  width: 150px;
}

/* ----------- */
/* ----------- */
/* ----------- */
/* ----------- */
/* ----------- */
/* ----------- */
/* ----------- */

footer {
  /* height: var(--footerHeight); */
  background-color: black;

  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  position: relative;
}

.footerContent {
  width: 100%;
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 30px 0;
}

footer .logoContainer {
  width: fit-content;
  place-self: center;
}

footer .logoContainer img {
  width: 200px;
}
footer .footerContact {
  width: 90%;
}
footer .footerContact * {
  color: white;
}

footer h2 {
  position: relative;
  width: fit-content;
  margin-bottom: 30px;
  font-weight: 500;
  color: white;
}

footer h2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  border-bottom: 1px solid var(--primary2);
}

footer .footerContact p,
footer .footerLinks p,
footer .footerLinks p a {
  width: 100%;
  color: var(--gray);
  padding-bottom: 10px;
}
footer .footerLinks p a {
  text-decoration: none;
  transition: color 200ms ease-in-out;
}
footer .footerLinks p:hover a {
  color: var(--primary0);
}

footer .copyrights {
  width: 100%;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

footer .copyrights a {
  color: var(--primary0);
  text-decoration: none;
  transition: color 200ms ease-in-out;
}

footer .copyrights p {
  color: var(--lightgray);
}

footer .copyrights p .marginSpan {
  color: var(--gray);
  margin: 0 10px;
  font-size: large;
}

footer .copyrights p .colorSpan {
  color: var(--primary0);
}

#root {
  width: 100%;
}

section {
  width: 100%;
  min-height: calc(100vh - var(--footerHeight) - var(--navbarHeight));
  position: relative;
}

/* ------------------------------------------------------------------- */

.defaultLink {
  padding: 10px 25px;
  background-color: var(--primary);
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: box-shadow 200ms ease-in-out;
}

.defaultLink2 {
  padding: 10px 25px;
  background-color: var(--white);
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid var(--gray);
  color: var(--black);
  transition: box-shadow 200ms ease-in-out;
}

.defaultLink:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.defaultLink2:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.link1 {
  text-decoration: none;
  color: var(--link);
}

.bgLayer {
  width: 50%;
  height: 120vh;
  position: fixed;
  background-color: var(--primary0);
  clip-path: ellipse(75% 100% at 99% 86%);
  transform: translateX(5%);
  right: 0;
}

.bgLayer1 {
  width: 50%;
  height: 120vh;
  position: fixed;
  background-color: var(--primary0);
  clip-path: ellipse(40% 64% at 0% 99%);
  /* clip-path: ellipse(32% 44% at -1% -1%); */
  transform: translateX(5%);
  left: -5%;
}

.burger {
  cursor: pointer;
  display: none;
}

.burger .line1,
.burger .line2,
.burger .line3 {
  width: 30px;
  height: 4px;
  background-color: var(--primary3);
  border-radius: 2px;
  margin: 4px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid black;
  border-right: 1px solid black; */
}

.cross {
  position: fixed;
  top: 10vh;
  right: 10vh;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* ------------------------------------------------------------------- */

@media screen and (max-width: 1170px) {
  .navSideBar {
    display: flex;
  }
  .burger {
    display: inline;
  }
  header ul {
    display: none;
  }
  .contactContainer {
    display: none;
  }
  .headerDesktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 700px) {
  .bgLayer {
    display: none;
  }

  :root {
    --navbarHeight: 150px;
    --footerHeight: 20vh;

    --productWidth: 300px;
    --productHeight: 600px;
  }

  .footerContent {
    width: 80%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .footerContact,
  .footerLinks,
  .footerSocial {
    margin-bottom: 10vh;
    width: 100%;
  }
}

/* ------------- */
