.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.wrapper {
  height: 22.5vw;
  width: 45vw;
  margin: 50px auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img,
.product-info {
  height: 22.5vw;
  width: 22.5vw;
  overflow: hidden;
}

.product-img img {
  width: inherit;
}

.table {
  width: 100%;
  border: 1px solid #eeeeee;
  position: relative;
}

.table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding: 5px 0;
}

.table-row:nth-of-type(odd) {
  background: #eeeeee;
}

.table-data {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  text-align: center;
}
