.Products{
    margin: 0;
    font-family: "Poppins", sans-serif;
    left: 20px;

}

h1{
    position: relative;
    color: brown;
    height: 40px;
    justify-content: center;

}

p{
    text-align: left;
    
}
.ghee img{
    width: 100px;
    
}








